/* If user is not authenticated */
.passwordresetconfirm-box {
    height: auto;
    width: 45rem;
    background-color:#ffffff;
    background:linear-gradient(rgba(35,43,85,0.75),
                               rgba(35,43,85,0.95)),
                               no-repeat center center;
    background-size: cover;
    margin:auto;
    border-top: solid 1px rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  
  .errorlist {
    color:#00e6d1;
  }

  .form-nav {
    width: 100%;
    height: 15%;
    padding-top: 40px;
    text-align:center;
  }
  
  .passwordresetconfirm-active {
    padding-left: 10px;
    display: inline;
    text-align: left;
    padding-right: 10px;
    color: #ffffff;
  }
  
  .passwordresetconfirm-active a {
    padding-bottom: 10px;
    font-size:18px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    cursor: pointer;
  }

  .passwordresetconfirm-active a:hover {
    color: #00E676;
  }
  
  .form {
    width: 100%;
    height: 60%;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    margin:auto;
  }
  
  .form-passwordresetconfirm input{
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
  }
  
  label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #ffffff;
    display: block;
  }
  
  :focus {outline: none;}
  
  .form-passwordresetconfirm input:focus, textarea:focus {
      background: rgba(255,255,255,.3);
      border: none; 
      padding-right: 40px;
      transition: background .5s ease;
   }
  
  
  .btn-passwordresetconfirm {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
  }
  
  .btn-animate {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255,255,255, 1);
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    margin-bottom: 35px;
    background-color: rgba(16,89,255, 1);
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s; 
  }
  
  .btn-passwordresetconfirm:hover {
    cursor: pointer; 
    background-color: #0F4FE6;
    transition: background-color .5s; 
  }

  /* If user is authenticated */
  .announce{
    text-align:center; 
    background-color: aliceblue;
    padding:2rem;
  }

  .announce > a {
    font-size:2.5rem;
    margin:2rem;
    margin-bottom:1rem;
  }