{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django museum</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'img/7GhOSAK7g.png' %}" alt="logo">
            <div class="nav-buttons">
                <a href="/">Відвідувачам</a>
                <a href="/about">Про музей</a>
                <a href="/contacts/">Тарас Шевченко</a>
                <a href="/tickets">Квитки</a>
                <a href="/profile/">Профіль</a>
            </div>
        </div>
    </header>
    
    <div class="content">
        <div class="post">
            <h2>Про музей</h2>
            <img src="{% static 'img/vBuX735Ig.jpeg' %}">
            <p><b>Національний музей Тараса Шевченка</b> – літературно-художній музей у Києві, присвячений життю та творчості українського поета й художника, філософа, публічного інтелектуала – Тараса Шевченка.</p>
            <h4>Установи-попередники</h4>
            <p>У 1902 у Чернігові було засновано Музей українських старожитностей (нині – Чернігівський обласний історичний музей імені В.В.  Тарновського).
Основою стала багата колекція українських старожитностей та Шевченкіани
мецената та колекціонера Василя Тарновського (молодшого) (1838-1899; Російська імперія), який заповів її Чернігівській повітовій раді.</p>
            <p>У 1926 в Харкові було засновано Інститут Тараса Шевченка (нині його правонаступник – Інститут літератури імені Т. Шевченка НАН України) на чолі з відомим істориком Дмитром Багалієм.</p>
            <p>Зусиллями працівників Інституту було зібрано рукописи поета, малярські та графічні твори художника. Цим було закладено основу для наукових досліджень спадщини митця, видання його творів та створення у Харкові Галереї картин Шевченка. Її заснували при Інституті Тараса Шевченка в грудні 1932, а офіційно відкрили – 9 березня 1934, на 120-річчя поета. Галерея картин Шевченка стала першою музейною установою, де було зібрано його мистецькі твори, видання та документи: до фондів було передано 107 оригінальних творів Шевченка та частину приписуваних йому робіт, а згодом сюди додано й шевченкіану Чернігівського історичного музею.</p>
            <p>У 1939, до 125-ліття від дня народження Тараса Шевченка, у Києві провели Республіканську ювілейну Шевченківську виставку. У 10 залах Академії наук УРСР розмістили понад 900 експонатів, зібраних із музеїв усього Радянського Союзу і навіть закуплених у приватних осіб. На її основі й вирішили заснувати Центральний державний музей Тараса Шевченка та розташувати його в Маріїнському палаці. Експозицію відкрили у квітні 1941. З початком німецько-радянської війни, частину колекції новоствореного музею евакуювали до
Новосибірська, інша частина експонатів залишилася в окупованому Києві.</p>
            
            <h4>Історія створення Державного музею Тараса Шевченка</h4>
            <p>27 березня 1943 Рада Народних Комісарів Української РСР прийняла постанову, відповідно до якої при Інституті української мови і літератури Академії наук УРСР мав бути створений Державний літературно-художній музей Т. Г. Шевченка. Однак, ця постанова так і не була реалізована.</p>
            <p>1944 експонати повернулись з евакуації до Харкова, де були розміщені в Музеї українського мистецтва (нині – Харківський художній музей). Наступного року уряд УРСР ухвалив рішення про об’єднання Центрального державного музею Тараса Шевченка (Київ) та Галереї картин Шевченка (Харків) в єдиний музей. Його відкрили 24 квітня 1949 в Києві. Це відбулось за сприяння письменників Миколи Бажана (1904-1983; Російська імперія – УРСР) та Павла Тичини (1891-1967; Російська імперія – УРСР), а також зусиллями мистецтвознавця Миколи Мацапури (1900-1974; Російська імперія – УРСР). Оскільки Маріїнський
палац після війни потребував реставрації, обрали іншу будівлю, розташовану
поряд із Київським державним університетом імені Тараса Шевченка – у маєтку ХІХ століття, що належав (1875-1903) українському цукропромисловцю, мільйонеру та меценату Ніколі Терещенку (бульвар Тараса Шевченка, 12).</p>
            <p>Директором став Микола Мацапура, який ще в 1930-ті працював у Інституті Тараса Шевченка та Галереї картин Шевченка, займався евакуацією експонатів до Новосибірська та їх поверненням назад у Харків, а згодом у Київ. На момент відкриття Державного музею Тараса Шевченка загальна кількість експонатів основного фонду становила майже 4000 одиниць.</p>
            <p>З метою розгортання наукової роботи постановою уряду Української РСР в січні 1951 музей було передано у підпорядкування Академії наук УРСР (до 1960).</p>
            <p>У 2001 музей отримав статус національного і відтоді має назву «Національний музей Тараса Шевченка». З 1 січня 2003 установа підпорядковується Міністерству культури і мистецтв України (з 4 червня 2020 Міністерство культури та інформаційної політики України).</p>
            
            <p>Ми пропонуємо вам ознайомитися з життям і творчістю великого поета, а також відвідати наші виставки.</p>
        </div>

    </div>

    <footer>
        <div class="footer-container">
            <div class="fc-top">
                <img src="{% static 'img/7GhOSAK7g.png' %}" alt="logo">
                <div>
                    <h4>Про нас</h4>
                    <h4>Політика конфіденційності</h4>
                </div>
            </div>
            <div class="fc-mid">
                <div class="address1">
                    <h3>Національний музей Тараса Шевченка</h3>
                    <h4>м.Київ, бул. Т. Шевченка, 12</h4>
                    <h4>Ср-Нд: 10:00 - 18:00</h4>
                    <h4>Каса працює з 10:00 до 17:15</h4>
                    <h4>Екскурсії: 044 234 2556</h4>
                    <h4>shevchenko-museum@ukr.net</h4>
                </div>
                <div class="address2">
                    <h3>Будинок-музей Шевченка</h3>
                    <h4>м.Київ, пров. Тараса Шевченка, 8а</h4>
                    <h4>Ср-Нд: 10:00 - 18:00</h4>
                    <h4>Зателефонувати: 044 278 3511</h4>
                </div>
                <div class="address3">
                    <h3>Хата на пріорці</h3>
                    <h4>м.Київ, вулиця Вишгородська, 5</h4>
                    <h4>Вт-Сб: 10:00 – 18:00</h4>
                    <h4>Зателефонувати: 044 432 7627</h4>
                </div>
            </div>
            <div class="fc-bottom">
                <h4>©2024 Національний музей Тараса Шевченка</h4>
                
            </div>
        </div>
    </footer>

</body>
</html>